body{
    background-image: url(//assets/images/OfficeBackground.jpg);
    width: 100%;
	text-align: center;
}

.text-muted{
	color: yellow;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}